.header {
    display: flex;
    justify-content: right;
    padding: 10px;
    background-color: lightgrey;
}
.tittle {
    color: black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.buttons {
    margin: 36px;
  
}
.Btn {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px;
    cursor: pointer;
}