.list {
    text-align: center;
    
    margin: 10px;
    padding: 15px;
}
.listUser {
padding: 20px;
width: 95%;
margin: 10px auto;
background-color: lightblue;
cursor: pointer;
}

.nameFirstUser{
    font-size: 30px;
}
.info {
    font-size: 15px;
}
.isFriend {
    background-color: lightcoral;
}